---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const pageTitle = "Blog";

const allPosts = await getCollection("blog");

type PostType = {
  slug: string;
  data: { title: string; description: string; tags: string[] };
};
---

<Layout title={pageTitle} isMarkdown={false}>
  <main class="grid">
    <ul class="blog-list">
      {
        allPosts.map((post: PostType) => (
          <Card
            href={`/blog/${post.slug}`}
            title={post.data.title}
            description={post.data.description}
            tags={post.data.tags}
          />
        ))
      }
    </ul>
    <style>
      main {
        margin: 0;
      }

      .blog-list :global(li:first-child) {
        grid-column-end: span 2;
      }

      @container (width < 70ch) {
        .blog-list :global(li:first-child) {
          grid-column-end: span 1;
        }
      }
    </style>
  </main>
</Layout>
