---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Navigation from "../components/Navigation.astro";

import "@fontsource/space-mono/400.css";
import "@fontsource/space-mono/700.css";

import "../styles/global.css";

interface Props {
  title: string;
  isMarkdown: boolean;
}

const { title, isMarkdown } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Your Site's Title"
      href={new URL("rss.xml", Astro.site)}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body>
    <Navigation currentPage={title} isMarkdown={isMarkdown} />
    <h1>{title}</h1>
    <slot />
  </body>
</html>
<style is:global>
  body {
    font-family: "Space Mono", monospace;
  }
</style>
